body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#click-count {
  background-color: white;
  color: blue;
  position: relative;
  left: 12.5em;
  top: 3em;
  padding: 0.3em;
  border-radius: 1em;
  font-size: 2em;
}
#cute-cat {
  order: 1;   /* tweak this to change the display order*/
}
#cute-cat img {
  width: 400px;
  height: 300px;
}
#cat-name {
  font-size: 24px;
  margin-bottom: 0.3em;
}
form {
  margin: 10px 0;
}
form button {
  margin-top: 5px;
}
form input {
  margin: 4px 0;
}
